﻿@{
    ViewBag.Title = "Panel Instalatora";
}
<h2>Panel Instalatora</h2>
<h3>System pomocniczy do zarządzania instalacjami</h3>

<p>Aplikacja stanowi część praktyczną w pracy magisterskiej <br/>
    <i>Projekt i implementacja aplikacji mobilnej dla instalatorów terminali płatniczych wraz z aplikacją internetową do zarządzania bazą danych.
</i><br/><br/>
    Anna Rapacz<br/>
               <i>nr 31969</i></p>
