﻿@{
    ViewBag.Title = "Kontakt";
}
<h2>Dane kontaktowe</h2>
<h3>Skontaktuj się z nami!</h3>

<br/>
<h4>Operacje.PL</h4>
<address>
    ul. Stokłosy 3<br />
    Warszawa<br />
    <abbr title="Telefon">T:</abbr>
    +48.505.505.505
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@operacje.pl">Support@operacje.pl</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@operacje.pl">Marketing@operacje.pl</a>
</address>