﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Panel Instalatora</h1>
    <p class="lead">Aplikacja służy do zarządzania bazą zleceń instalacji terminali w firmie Operacje.pl</p>
    <p><a href="/Zlecenie/" class="btn btn-primary btn-lg">Przejdź do zleceń &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Akceptanci</h2>
        <p>
            Przeglądaj listę akceptantów dla Twoich zleceń. Jeżeli jesteś pracownikiem Operacji, przeglądaj całą bazę.
        </p>
        <p><a class="btn btn-default" href="/M/">Akceptanci &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Urządzenia</h2>
        <p>Zarządzaj bazą urządzeń: terminali, akcesoriów i aplikacji (tylko dla pracowników Operacje.PL)</p>
        <p><a class="btn btn-default" href="/Terminale/">Przejdź do bazy &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Zlecenia</h2>
        <p>Przeglądaj zlecenia przypisane do swojego konta. Jeżeli jesteś pracownikiem Operacji, przeglądaj całą bazę.</p>
        <p><a class="btn btn-default" href="/Zlecenie/">Przejdź do zleceń &raquo;</a></p>
    </div>
</div>