﻿@model InsTerm.Models.IndexViewModel
@{
    ViewBag.Title = "Ustawienia";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Zarządzaj swoim kontem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Użytkownik:</dt>
        <dd>@User.Identity.Name</dd>
        <br />
        <dt>Hasło:</dt>
        <dd>
            [
            @if (Model.HasPassword)
        {
            @Html.ActionLink("Zmień hasło", "ChangePassword")
    }
    else
    {
        @Html.ActionLink("Create", "SetPassword")
}
            ]
        </dd>

        @if (User.IsInRole("Instalator"))
        {
            if (!String.IsNullOrEmpty(ViewBag.KEY))
            {
                <br />
                <dt>Klucz mobilny:</dt>
                <dd>@ViewBag.KEY</dd>
            }   
        }


    </dl>
</div>
