﻿@model InsTerm.TERMINAL_APP

@{
    ViewBag.Title = "AddApps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dodaj aplikacje</h2>
<h4>Zlecenie nr: @ViewBag.ZLID</h4>
<table class="table-bordered">
    <tr>
        <th>
            @Html.DisplayName("Aplikacja")
        </th>

    </tr>
    <tr>

    </tr>
</table>

