﻿@model InsTerm.ZLECENIE

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>USUŃ ZLECENIE</h2>

<h3>Czy na pewno chcesz usunąć zlecenie?</h3>
<div>
    <h4>ZLECENIE @Model.ZL_ID - @Model.MERCHANT.M_NAME</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Planowana data instalacji")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZL_INSTALLDATE)
        </dd>

        <dt>
            @Html.DisplayName("Informacje")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZL_INFO)
        </dd>

        <dt>
            @Html.DisplayName("Status")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZL_STATUS)
        </dd>

        <dt>
            @Html.DisplayName("Instalator")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZL_USER)
        </dd>

        <dt>
            @Html.DisplayName("Karta SIM")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SIM.SIM_NETWORK)<br />
            @Html.DisplayFor(model => model.SIM.SIM_IMEI)<br />
            @Html.DisplayFor(model => model.SIM.SIM_MODE)
        </dd>

        <dt>
            @Html.DisplayName("Terminal")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TERMINAL.TERMINAL_MODEL.TM_NAME)<br />
            @Html.DisplayFor(model => model.TERMINAL.T_SERIAL)<br />
            @Html.DisplayFor(model => model.TERMINAL.T_NOTES)
        </dd>
        <dt>
            @Html.DisplayName("TID")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TERMINAL.T_ID)
        </dd>

        <br />
        <br />
        <br />
        <dt>
            @Html.DisplayName("Punkt instalacji")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MERCHANT.M_NAME)<br />
            @Html.DisplayFor(model => model.MERCHANT.M_INFO)<br />
            @Html.DisplayFor(model => model.MERCHANT.M_STREET)<br />
            @Html.DisplayFor(model => model.MERCHANT.M_STREET2)<br />
            @Html.DisplayFor(model => model.MERCHANT.M_CITY)<br />
        </dd>
        <br />
        <dt>
            @Html.DisplayName("Kontakt do punktu")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MERCHANT.M_EMAIL)<br />
            @Html.DisplayFor(model => model.MERCHANT.M_PHONE1)<br />
            @Html.DisplayFor(model => model.MERCHANT.M_PHONE2)<br />
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń zlecenie" class="btn btn-default" /><br/><br/>
            @Html.ActionLink("Powrót do listy zleceń", "Index")
        </div>
    }
</div>
