﻿@model InsTerm.ZLECENIE

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ZLECENIE Instalacji</h2>

<div>
    <h4>@Model.MERCHANT.M_NAME</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Planowana data instalacji")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZL_INSTALLDATE)
        </dd>

        <dt>
            @Html.DisplayName("Informacje")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZL_INFO)
        </dd>

        <dt>
            @Html.DisplayName("Status")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZL_STATUS)
        </dd>

        <dt>
            @Html.DisplayName("Instalator")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZL_USER)
        </dd>

        <dt>
            @Html.DisplayName("Karta SIM")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SIM.SIM_NETWORK)<br />
            @Html.DisplayFor(model => model.SIM.SIM_IMEI)<br />
            @Html.DisplayFor(model => model.SIM.SIM_MODE)
        </dd>

        <dt>
            @Html.DisplayName("Terminal")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TERMINAL.TERMINAL_MODEL.TM_NAME)<br />
            @Html.DisplayFor(model => model.TERMINAL.T_SERIAL)<br />
            @Html.DisplayFor(model => model.TERMINAL.T_NOTES)
        </dd>
        <dt>
            @Html.DisplayName("TID")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TERMINAL.T_ID)
        </dd>

        <br />
        <br />
        <br />
        <dt>
            @Html.DisplayName("Punkt instalacji")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MERCHANT.M_NAME)<br />
            @Html.DisplayFor(model => model.MERCHANT.M_INFO)<br />
            @Html.DisplayFor(model => model.MERCHANT.M_STREET)<br />
            @Html.DisplayFor(model => model.MERCHANT.M_STREET2)<br />
            @Html.DisplayFor(model => model.MERCHANT.M_CITY)<br />
            </dd>
        <br/>
        <dt>
            @Html.DisplayName("Kontakt do punktu")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MERCHANT.M_EMAIL)<br />
            @Html.DisplayFor(model => model.MERCHANT.M_PHONE1)<br />
            @Html.DisplayFor(model => model.MERCHANT.M_PHONE2)<br />
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Lista zleceń", "Index")
    @if (!User.IsInRole("Instalator"))
    {
        <b>&nbsp;|&nbsp;</b>
        @Html.ActionLink("Edycja", "Edit", new { id = Model.ZL_ID })
    }
    else
    {
        <b>&nbsp;|&nbsp;</b>
        @Html.ActionLink("Edycja", "EditOwn", new { id = Model.ZL_ID })
    }

</p>
