﻿@model InsTerm.ZLECENIE

@{
    ViewBag.Title = "Modyfikuj zlecenie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edycja zlecenia</h2>


@using (Html.BeginForm("EditOwn", "ZLECENIE", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ZLECENIE: @Model.ZL_ID</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ZL_ID)

        <div class="form-group">
            @Html.Label("Terminal", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.ZL_TID)&nbsp;&frasl;&nbsp;
                @Html.DisplayFor(model => model.TERMINAL.TERMINAL_MODEL.TM_NAME)&nbsp;&frasl;&nbsp;
                @Html.DisplayFor(model => model.TERMINAL.T_SERIAL)
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.Label("Akceptant", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.ZL_MID) &nbsp;&frasl;&nbsp;
                @Html.DisplayFor(model => model.MERCHANT.M_NAME)
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.Label("Planowana data instalacji", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.ZL_INSTALLDATE)
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.Label("Uwagi", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ZL_INFO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ZL_INFO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Zmień status", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="form-group">

                @Html.DropDownList("ZL_ST", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.HiddenFor(model => model.ZL_USER)
        </div>
        <br />
        <div class="form-group">
            @Html.Label("Karta SIM", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.SIM.SIM_NETWORK) &nbsp;&frasl;&nbsp;
                @Html.DisplayFor(model => model.ZL_SIM)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zapisz" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Powrót do listy zleceń", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
