﻿@model IEnumerable<InsTerm.ZLECENIE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ZLECENIA</h2>
@if (!User.IsInRole("Instalator"))
{
    <p>
        @Html.ActionLink("Nowe zlecenie", "Create")
    </p>
}

    <h3>
        @TempData["Error"]
    </h3>


<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Planowana data")
        </th>
        <th>
            @Html.DisplayName("Opis")
        </th>
        <th>
            @Html.DisplayName("Status")
        </th>
        <th>
            @Html.DisplayName("Instalator")
        </th>
        <th>
            @Html.DisplayName("Akceptant")
        </th>
        <th>
            @Html.DisplayName("Sieć komórkowa")
        </th>
        <th>
            @Html.DisplayName("Model")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ZL_INSTALLDATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZL_INFO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZL_STATUS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZL_USER)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MERCHANT.M_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SIM.SIM_NETWORK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TERMINAL.TERMINAL_MODEL.TM_NAME)
            </td>
            <td>
                @Html.ActionLink("Szczegóły", "Details", new { id = item.ZL_ID })
                @if (!User.IsInRole("Instalator"))
    {
            <b>&nbsp;|&nbsp;</b>
            @Html.ActionLink("Edycja", "Edit", new { id = item.ZL_ID })
            <b>&nbsp;|&nbsp;</b>
            @Html.ActionLink("Usuń", "Delete", new { id = item.ZL_ID })
    }
    else
    {
                <b>&nbsp;|&nbsp;</b>
                @Html.ActionLink("Edycja", "EditOwn", new { id = item.ZL_ID })
    }


            </td>
        </tr>
    }

</table>
