﻿@model InsTerm.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Zaloguj się</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                <b>Logowanie</b><br/>
                Jeżeli nie jesteś zalogowana (zalogowany), zaloguj się do serwisu korzystając z formularza po lewej stronie.<br />
                <br />
                Jeżeli jesteś zalogowana (zalogowany), oznacza to, iż nie masz wystarczających uprawnień do operacji, którą próbowałaś (próbowałeś) wykonać.<br/>
                Zaloguj się na konto z właściwymi uprawnieniami, aby kontynuować.
            </p><br/>
            <p>
                <b>Rejestracja</b><br/>
                Rejestracja w serwisie powoduje utworzenie konta w roli Gościa.<br/>
                Aby uzyskać uprawnienia Instalatora, należy skontaktować się z działem Operacji.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders) {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }
}
