﻿@{
    ViewBag.Title = "Potwierdź przypomnienie hasła";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Proszę sprawdzić skrzynkę pocztową w celu uzyskania dalszych informacji związanych ze zmianą hasła.
    </p>
</div>
	
