﻿@{
    ViewBag.Title = "Potwierdzenie zmiany hasła";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Twoje hasło zostało zresetowane. Proszę @Html.ActionLink("się zalogować", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
