﻿@model IEnumerable<InsTerm.TERMINAL_APP>

@{
    ViewBag.Title = "Aplikacje";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Aplikacje</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TA_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TA_VERSION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TA_VENDOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TA_DESC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TERMINAL_APP_TYPES.TAT_NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TA_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TA_VERSION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TA_VENDOR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TA_DESC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TERMINAL_APP_TYPES.TAT_NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TA_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TA_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TA_ID })
        </td>
    </tr>
}

</table>
