﻿@model InsTerm.TERMINAL

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuń</h2>

<h3>Czy na pewno chcesz usunąć urządzenie?</h3>
<div>
    @if (ViewBag.Error != "")
    {
        @ViewBag.Error
    }

        <h4>@Model.T_ID</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.Label("TID")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.T_ID)
            </dd>
            <dt>
                @Html.Label("Numer seryjny")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.T_SERIAL)
            </dd>

            <dt>
                @Html.Label("Informacje")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.T_NOTES)
            </dd>

            <dt>
                @Html.Label("Model urządzenia")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TERMINAL_MODEL.TM_NAME)
            </dd>

        </dl>
        <br /><br />
                    @using (Html.BeginForm("DeleteConfirmed", "Terminale", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken();
                        <input type="hidden" name="TID" value="@Model.T_ID" />
            <div class="form-actions no-color">
                <input type="submit" value="Usuń" class="btn btn-default" /> <br /><br />
                @Html.ActionLink("Powrót do listy", "Index")
            </div>
        
    }


</div>
