﻿@model InsTerm.TERMINAL_MODEL

@{
    ViewBag.Title = "Usuń urządzenie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuń urządzenie</h2>

<h3>Czy na pewno chcesz usunąc urządzenie?</h3>
<div>
    <h4>Model: @Model.TM_NAME, ID: @Model.TM_ID</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Nazwa")
        </dt>
        @Html.HiddenFor(model => model.TM_ID)

        <dd>
            @Html.DisplayFor(model => model.TM_NAME)
        </dd>

        <dt>
            @Html.Label("Opis")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TM_DESC)
        </dd>

        <dt>
            @Html.Label("Wersja")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TM_VERSION)
        </dd>

    </dl>

    @using (Html.BeginForm("DeleteModelConfirmed", "Terminale", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="TM_ID" value="@Model.TM_ID" />
        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy urządzeń", "ModelList")
        </div>
    }
</div>
