﻿@model InsTerm.TERMINAL

@{
    ViewBag.Title = "Szczegóły Terminalu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Szczegóły</h2>

<div>
    <h4>TID: @Model.T_ID</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Numer seryjny")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_SERIAL)
        </dd>
        <br />
        <dt>
            @Html.Label("Informacje dodatkowe")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_NOTES)
        </dd>


        <br />
        <dt>
            @Html.Label("Model urządzenia")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TERMINAL_MODEL.TM_NAME) <br />
            @Html.DisplayFor(model => model.TERMINAL_MODEL.TM_VERSION) <br />
            @Html.DisplayFor(model => model.TERMINAL_MODEL.TM_DESC)
        </dd>

    </dl>
</div><br/><br/>
<p>
    @Html.ActionLink("Edycja", "Edit", new { id = Model.T_ID }) |
    @Html.ActionLink("Powrót do listy terminali", "Index")
</p>
