﻿@model IEnumerable<InsTerm.TERMINAL>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Terminale</h2>

<h3>@ViewBag.Error</h3>

<p>
    <pre>@Html.ActionLink("Dodaj terminal", "Create")    @Html.ActionLink("Modele Urządzeń", "ModelList")</pre>
    <!--   <pre>@Html.ActionLink("Aplikacje", "Aplikacje")</pre>-->
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("TID")
        </th>
        <th>
            @Html.DisplayName("Numer seryjny")
        </th>
        <th>
            @Html.DisplayName("Opis")
        </th>
        <th>
            @Html.DisplayName("Model")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.T_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T_SERIAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T_NOTES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TERMINAL_MODEL.TM_NAME)
        </td>
        <td>
            @Html.ActionLink("Edycja", "Edit", new { id = item.T_ID }) |
            @Html.ActionLink("Szczegóły", "Details", new { id = item.T_ID }) |
            @Html.ActionLink("Usuń", "Delete", new { id = item.T_ID })
        </td>
    </tr>
}

</table>
