﻿@model InsTerm.TERMINAL_MODEL

@{
    ViewBag.Title = "ModelDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Urządzenie @Model.TM_ID</h2>

<div>
    <h4>Szczegóły</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model=>model.TM_ID)
        <dt>
            @Html.Label("Nazwa")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TM_NAME)
        </dd>

        <dt>
            @Html.Label("Opis")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TM_DESC)
        </dd>

        <dt>
            @Html.Label("Wersja")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TM_VERSION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edycja", "EditModel", new { id = Model.TM_ID }) |
    @Html.ActionLink("Powrót do listy", "ModelList")
</p>
