﻿@model IEnumerable<InsTerm.TERMINAL_MODEL>

@{
    ViewBag.Title = "ModelList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista modeli dostępnych urządzeń</h2>

<p><pre>@Html.ActionLink("Utwórz nowy", "AddModel")    @Html.ActionLink("Lista Terminali", "List")</pre>
</p>

@TempData["Error"]

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nazwa modelu")
        </th>
        <th>
            @Html.DisplayName("Opis")
        </th>
        <th>
            @Html.DisplayName("Wersja")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TM_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TM_DESC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TM_VERSION)
        </td>
        <td>
            @Html.ActionLink("Edycja", "EditModel", new { id=item.TM_ID }) |
            @Html.ActionLink("Szczegóły", "ModelDetails", new { id=item.TM_ID }) |
            @Html.ActionLink("Usuń", "DeleteModel", new { id=item.TM_ID })
        </td>
    </tr>
}

</table>
