﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Zablokowane";
}

<hgroup>
    <h1 class="text-danger">Konto zablokowane</h1>
    <h2 class="text-danger">Twoje konto zostało zablokowane. Skontaktuj się z działem Operacji.</h2>
</hgroup>
