﻿
@{
    ViewBag.Title = "Zmiana roli";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Przypisz użytkownika do roli</h2>
<h4>@ViewBag.U_NAME</h4>
<br /><br />
@using (Html.BeginForm("AssignRole", "Administrator", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="U_NAME" value="@ViewBag.U_NAME" />
    <div class="form-group">
        @Html.Label("Przypisz rolę", htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.DropDownList("Roles", null, htmlAttributes: new { @class = "form-control" })
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Zapisz" class="btn btn-default" />
        </div>
    </div>
}

@ViewBag.Error

<p>
    @Html.ActionLink("Powrót do listy", "Index")
</p>
