﻿@model InsTerm.AspNetUsers

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Szczegóły użytkownika</h2>

<div>
    <h4>@Model.UserName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Adres Email")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <br />
        <dt>
            @Html.DisplayName("Numer telefonu")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <br />


        <dt>
            @Html.DisplayName("Blokada użytkownika ?")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LockoutEndDateUtc)
        </dd>
        <br />
        <dt>
            @Html.DisplayName("Błędne próby logowania")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessFailedCount)
        </dd>
        <br />
        <dt>
            @Html.DisplayName("Login")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <br/>
        <dt>
            @Html.DisplayName("Przypisana rola")
        </dt>
        <dd>
            @foreach (var item in Model.AspNetRoles)
            {
                @Html.DisplayFor(modelItem => item.Name)
            }
        </dd>

    </dl>
</div>
<p><br />
    @Html.ActionLink("Edycja", "ManageUser", new { id = Model.UserName }) |
    @Html.ActionLink("Powrót do listy", "Index")
</p>
