﻿@model IEnumerable<InsTerm.v_UserRoles>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Zarządzanie użytkownikami</h2>

<table class="table">
    <tr>
        <th>Użytkownik</th>
        <th>Przypisana rola</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.USERNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ROLENAME)
        </td>
        <td>
            @Html.ActionLink("Szczegóły", "Details", new { id = item.USERNAME }) |
            @Html.ActionLink("Edycja", "ManageUser", new { id = item.USERNAME }) |
            @Html.ActionLink("Zmień rolę", "AssignRole", new { id = item.USERNAME })
        </td>
    </tr>
}

</table>
