﻿@model InsTerm.MERCHANT

@{
    ViewBag.Title = "Usuń punkt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>USUŃ Punkt @Model.M_ID</h2>

<h3>Czy na pewno chcesz usunąć punkt tego Akceptanta?</h3>
<div>
    <h4>@Model.M_NAME</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Nazwa")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M_NAME)
        </dd>

        <dt>
            @Html.Label("Opis")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M_INFO)
        </dd>

        <dt>
            @Html.Label("Adres")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.M_STREET) &nbsp;&frasl;&nbsp;
            @Html.DisplayFor(model => model.M_STREET2) &nbsp;&frasl;&nbsp;
            @Html.DisplayFor(model => model.M_CITY)
        </dd>


        <dt>
            @Html.Label("Telefon")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.M_PHONE1) &nbsp;&frasl;&nbsp;
            @Html.DisplayFor(model => model.M_PHONE2)
        </dd>
        <dt>
            @Html.Label("Email")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.M_EMAIL)
        </dd>


    </dl>

    @using (Html.BeginForm("Delete", "M", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="M_ID" value="@Model.M_ID" />
        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy", "Index")
        </div>
    }
</div>
