﻿@model InsTerm.MERCHANT

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Szczegóły</h2>

<div>
    <h4>@Model.M_NAME</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nazwa punktu")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.M_NAME)
        </dd>
        <br />

        <dt>
            @Html.DisplayName("Informacje")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.M_INFO)
        </dd>
        <br />

        <dt>
            @Html.DisplayName("Miejscowość")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.M_CITY)
        </dd>
        <br />

        <dt>
            @Html.DisplayName("Ulica")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.M_STREET)
            <br />
            @Html.DisplayFor(model => model.M_STREET2)
        </dd>
        <br />


        <dt>
            @Html.DisplayName("E-mail")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.M_EMAIL)
        </dd>
        <br />


        <dt>
            @Html.DisplayName("Telefon")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.M_PHONE1)
            <br />
            @Html.DisplayFor(model => model.M_PHONE2)
        </dd>
        <br />
    </dl>
</div>
<p>
    @Html.ActionLink("Powrót do listy", "Index")

    @if (!User.IsInRole("Instalator"))
    {
        <b>&nbsp;|&nbsp;</b>
        @Html.ActionLink("Edycja danych", "Edit", new { id = Model.M_ID })
    }



</p>
