﻿@model IEnumerable<InsTerm.MERCHANT>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @if (!User.IsInRole("Instalator"))
    {
        @Html.ActionLink("Nowy Akceptant", "Create")

    }
    &nbsp;&nbsp;&nbsp;
    @ViewBag.Error
    @TempData["Error"]
    <br/>
    <div>
        @using (Html.BeginForm())
        {
            <input type="text" name="mid" />
            <input type="submit" value="Wyszukaj" />
        }
    </div>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nazwa")
        </th>
        <th>
            @Html.DisplayName("Informacje")
        </th>
        <th>
            @Html.DisplayName("Miejscowość")
        </th>
        <th>
            @Html.DisplayName("Ulica")
        </th>
        <th>
            @Html.DisplayName("Ulica-dodatkowe")
        </th>
        <th>
            @Html.DisplayName("Email")
        </th>
        <th>
            @Html.DisplayName("Telefon")
        </th>
        <th>
            @Html.DisplayName("Telefon2")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.M_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.M_INFO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.M_CITY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.M_STREET)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.M_STREET2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.M_EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.M_PHONE1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.M_PHONE2)
        </td>
        <td>
            @Html.ActionLink("Szczegóły", "Details", new { id = item.M_ID })
            @if (!User.IsInRole("Instalator"))
            {
                <b>&nbsp;|&nbsp;</b>
                @Html.ActionLink("Edycja", "Edit", new { id = item.M_ID })
                <b>&nbsp;|&nbsp;</b>
                @Html.ActionLink("Usuń", "Delete", new { id = item.M_ID })
            }

        </td>
    </tr>
}

</table>
